.calendar {
  width: 280px;
  height: 272px;
  background-color: #fff;
  box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.25);
  .react-calendar__tile--now {
    background: #ebbbab;
  }
  &__reset {
    margin-top: 5px;
    padding: 5px 30px;
  }
}
